* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #141414;
  display: flex;
}

.container {
  width: 384px;
  height: 611px;
  background-color: #1f1f1f;
  margin: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 40px;
}

.title {
  margin-top: 25px;
  text-align: center;
  line-height: 150%;
}

.title h1 {
  color: #ffffff;
  font-size: 24px;
}

.title p {
  color: #c4f82a;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

.description {
  margin-top: 25px;
  box-sizing: border-box;
}
.description p {
  color: white;
  font-size: 14px;
  font-weight: 150;
}

.footer {
  margin-top: 24px;
  text-align: center;
}

.border1 {
  width: 304px;
  height: 45px;
  background-color: #333333;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.border1 a {
  width: 304px;
  height: 45px;
  border-radius: 8px;
  background-color: #333333;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  color: white;
}

.border1 a:hover {
  background-color: #c4f82a;
  color: black;
}
